In [1]:
import pandas as pd

## Columns found in the dataset, total of 145 column!

In [2]:
cols = ['id', 'member_id','loan_amnt','funded_amnt','funded_amnt_inv','term','int_rate', 
        'installment','grade','sub_grade','emp_title','emp_length','home_ownership','annual_inc'
       ,'verification_status','issue_d','loan_status','pymnt_plan','url','desc','purpose','title','zip_code'
       ,'addr_state','dti','delinq_2yrs','earliest_cr_line','inq_last_6mths','mths_since_last_delinq'
       ,'mths_since_last_record','open_acc','pub_rec','revol_bal','revol_util','total_acc','initial_list_status'
       ,'out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int'
       ,'total_rec_late_fee','recoveries','collection_recovery_fee','last_pymnt_d','last_pymnt_amnt','next_pymnt_d'
       ,'last_credit_pull_d','collections_12_mths_ex_med','mths_since_last_major_derog','policy_code','application_type'
       ,'annual_inc_joint','dti_joint','verification_status_joint','acc_now_delinq','tot_coll_amt','tot_cur_bal'
       ,'open_acc_6m','open_act_il','open_il_12m','open_il_24m','mths_since_rcnt_il','total_bal_il','il_util'
       ,'open_rv_12m','open_rv_24m','max_bal_bc','all_util','total_rev_hi_lim','inq_fi','total_cu_tl'
       ,'inq_last_12m','acc_open_past_24mths','avg_cur_bal','bc_open_to_buy','bc_util','chargeoff_within_12_mths'
       ,'delinq_amnt','mo_sin_old_il_acct','mo_sin_old_rev_tl_op','mo_sin_rcnt_rev_tl_op','mo_sin_rcnt_tl'
       ,'mort_acc','mths_since_recent_bc','mths_since_recent_bc_dlq','mths_since_recent_inq'
       ,'mths_since_recent_revol_delinq','num_accts_ever_120_pd','num_actv_bc_tl','num_actv_rev_tl'
       ,'num_bc_sats','num_bc_tl','num_il_tl','num_op_rev_tl','num_rev_accts','num_rev_tl_bal_gt_0'
       ,'num_sats','num_tl_120dpd_2m','num_tl_30dpd','num_tl_90g_dpd_24m','num_tl_op_past_12m','pct_tl_nvr_dlq'
       ,'percent_bc_gt_75','pub_rec_bankruptcies','tax_liens','tot_hi_cred_lim','total_bal_ex_mort','total_bc_limit'
       ,'total_il_high_credit_limit','revol_bal_joint','sec_app_earliest_cr_line','sec_app_inq_last_6mths'
       ,'sec_app_mort_acc','sec_app_open_acc','sec_app_revol_util','sec_app_open_act_il','sec_app_num_rev_accts'
       ,'sec_app_chargeoff_within_12_mths','sec_app_collections_12_mths_ex_med','sec_app_mths_since_last_major_derog'
       ,'hardship_flag','hardship_type','hardship_reason','hardship_status','deferral_term','hardship_amount'
       ,'hardship_start_date','hardship_end_date','payment_plan_start_date','hardship_length','hardship_dpd'
       ,'hardship_loan_status','orig_projected_additional_accrued_interest','hardship_payoff_balance_amount'
       ,'hardship_last_payment_amount','disbursement_method','debt_settlement_flag','debt_settlement_flag_date'
       ,'settlement_status','settlement_date','settlement_amount','settlement_percentage','settlement_term']
len(cols)

145

## Columns found in the data Dictionary, total of 122 columns!

In [3]:
colsDict = ['BrowseNotesFile','acceptD','accNowDelinq','accOpenPast24Mths','addrState','all_util'
           ,'annual_inc_joint','annualInc','addr_state','application_type','avg_cur_bal','bcOpenToBuy'
           ,'bcUtil','chargeoff_within_12_mths','collections_12_mths_ex_med','creditPullD','delinq2Yrs'
           ,'delinqAmnt','desc','dti','dti_joint','earliestCrLine','effective_int_rate','emp_title','empLength'
           ,'expD','expDefaultRate','ficoRangeHigh','ficoRangeLow','fundedAmnt','grade','homeOwnership','id'
           ,'il_util','ils_exp_d','initialListStatus','inq_fi','inq_last_12m','inqLast6Mths','installment'
           ,'intRate','isIncV','listD','loanAmnt','max_bal_bc','memberId','mo_sin_old_rev_tl_op','mo_sin_rcnt_rev_tl_op'
           ,'mo_sin_rcnt_tl','mortAcc','msa','mths_since_last_major_derog','mths_since_oldest_il_open'
           ,'mths_since_rcnt_il','mthsSinceLastDelinq','mthsSinceLastRecord','mthsSinceMostRecentInq','mthsSinceRecentBc'
           ,'mthsSinceRecentLoanDelinq','mthsSinceRecentRevolDelinq','num_accts_ever_120_pd','num_actv_bc_tl'
           ,'num_actv_rev_tl','num_bc_sats','num_bc_tl','num_il_tl','num_op_rev_tl','num_rev_accts','num_rev_tl_bal_gt_0'
           ,'num_sats','num_tl_120dpd_2m','num_tl_30dpd','num_tl_90g_dpd_24m','num_tl_op_past_12m',
            'open_acc_6m','open_il_12m','open_il_24m','open_act_il','open_rv_12m','open_rv_24m','openAcc'
           ,'pct_tl_nvr_dlq','percentBcGt75','pub_rec_bankruptcies','pubRec','purpose','reviewStatus','reviewStatusD'
           ,'revolBal','revolUtil','serviceFeeRate','subGrade','tax_liens','term','title','tot_coll_amt','tot_cur_bal'
           ,'tot_hi_cred_lim','total_bal_il','total_cu_tl','total_il_high_credit_limit','total_rev_hi_lim'
           ,'totalAcc','totalBalExMort','totalBcLimit','url','verified_status_joint','zip_code','revol_bal_joint'
           ,'sec_app_fico_range_low','sec_app_fico_range_high' ,'sec_app_earliest_cr_line' ,'sec_app_inq_last_6mths'
           ,'sec_app_mort_acc' ,'sec_app_open_acc' ,'sec_app_revol_util' ,'sec_app_open_act_il'
           ,'sec_app_num_rev_accts','sec_app_chargeoff_within_12_mths' ,'sec_app_collections_12_mths_ex_med' 
           ,'sec_app_mths_since_last_major_derog' ,'disbursement_method']
len(colsDict)

122

## Data Types of the data attributes

In [4]:
dtypes = {'term':'object','installment':'float64','grade':'object','emp_title':'object','purpose':'object'
          ,'title':'object','zip_code':'object','addr_state':'object','dti':'float64',
          'collections_12_mths_ex_med':'float64','mths_since_last_major_derog':'float64','application_type':'object'
          ,'tot_coll_amt':'float64','tot_cur_bal':'float64','open_acc_6m':'float64','open_act_il':'float64'
          ,'open_il_12m':'float64','open_il_24m':'float64','mths_since_rcnt_il':'float64','total_bal_il':'float64'
          ,'il_util':'float64','open_rv_12m':'float64','open_rv_24m':'float64','max_bal_bc':'float64'
          ,'all_util':'float64','total_rev_hi_lim':'float64','inq_fi':'float64','total_cu_tl':'float64'
          ,'inq_last_12m':'float64','avg_cur_bal':'float64','chargeoff_within_12_mths':'float64'
          ,'mo_sin_old_rev_tl_op':'float64','mo_sin_rcnt_rev_tl_op':'float64','mo_sin_rcnt_tl':'float64'
          ,'num_accts_ever_120_pd':'float64','num_actv_bc_tl':'float64','num_actv_rev_tl':'float64'
          ,'num_bc_sats':'float64','num_bc_tl':'float64','num_il_tl':'float64','num_op_rev_tl':'float64'
          ,'num_rev_accts':'float64','num_rev_tl_bal_gt_0':'float64','num_sats':'float64'
          ,'num_tl_120dpd_2m':'float64','num_tl_30dpd':'float64','num_tl_90g_dpd_24m':'float64'
          ,'num_tl_op_past_12m':'float64','pct_tl_nvr_dlq':'float64','pub_rec_bankruptcies':'float64'
          ,'tax_liens':'float64','tot_hi_cred_lim':'float64','total_il_high_credit_limit':'float64'
          ,'disbursement_method':'object'}

## Now, I will find the intersection between the two lists  
## to get the columns on which I will operate

In [5]:
intersection = (list(set(cols) & set(colsDict)))
for item in ['desc', 'id', 'url']:
    intersection.remove(item)
    
len(intersection)

67

In [6]:
# Now the dataset is 2,260,668 rows and 67 columns

loan = pd.read_csv('~/Downloads/loan.csv', usecols = intersection)

/home/ahmedeweed/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (112) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
loan.shape

(2260668, 67)

In [7]:
loan.head(3)

,term,installment,grade,emp_title,purpose,title,zip_code,addr_state,dti,collections_12_mths_ex_med,...,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,disbursement_method
0,36 months,84.92,C,Chef,debt_consolidation,Debt consolidation,109xx,NY,18.24,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
1,60 months,777.23,D,Postmaster,debt_consolidation,Debt consolidation,713xx,LA,26.52,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
2,36 months,180.69,D,Administrative,debt_consolidation,Debt consolidation,490xx,MI,10.51,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash

## Track down NaNs

In [9]:
loan.isna().sum(), loan.shape

(term                                         0
 installment                                  0
 grade                                        0
 emp_title                               166969
 purpose                                      0
 title                                    23325
 zip_code                                     1
 addr_state                                   0
 dti                                       1711
 collections_12_mths_ex_med                 145
 mths_since_last_major_derog            1679893
 application_type                             0
 annual_inc_joint                       2139958
 dti_joint                              2139962
 tot_coll_amt                             70276
 tot_cur_bal                              70276
 open_acc_6m                             866130
 open_act_il                             866129
 open_il_12m                             866129
 open_il_24m                             866129
 mths_since_rcnt_il                      909924
 total_bal_il                            866129
 il_util                                1068850
 open_rv_12m                             866129
 open_rv_24m                             866129
 max_bal_bc                              866129
 all_util                                866348
 total_rev_hi_lim                         70276
 inq_fi                                  866129
 total_cu_tl                             866130
                                         ...
 num_actv_bc_tl                           70276
 num_actv_rev_tl                          70276
 num_bc_sats                              58590
 num_bc_tl                                70276
 num_il_tl                                70276
 num_op_rev_tl                            70276
 num_rev_accts                            70277
 num_rev_tl_bal_gt_0                      70276
 num_sats                                 58590
 num_tl_120dpd_2m                        153657
 num_tl_30dpd                             70276
 num_tl_90g_dpd_24m                       70276
 num_tl_op_past_12m                       70276
 pct_tl_nvr_dlq                           70431
 pub_rec_bankruptcies                      1365
 tax_liens                                  105
 tot_hi_cred_lim                          70276
 total_il_high_credit_limit               70276
 revol_bal_joint                        2152648
 sec_app_earliest_cr_line               2152647
 sec_app_inq_last_6mths                 2152647
 sec_app_mort_acc                       2152647
 sec_app_open_acc                       2152647
 sec_app_revol_util                     2154484
 sec_app_open_act_il                    2152647
 sec_app_num_rev_accts                  2152647
 sec_app_chargeoff_within_12_mths       2152647
 sec_app_collections_12_mths_ex_med     2152647
 sec_app_mths_since_last_major_derog    2224726
 disbursement_method                          0
 Length: 67, dtype: int64, (2260668, 67))

In [9]:
len(dtypes.keys())

54

In [10]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Data columns (total 67 columns):
term                                   object
installment                            float64
grade                                  object
emp_title                              object
purpose                                object
title                                  object
zip_code                               object
addr_state                             object
dti                                    float64
collections_12_mths_ex_med             float64
mths_since_last_major_derog            float64
application_type                       object
annual_inc_joint                       float64
dti_joint                              float64
tot_coll_amt                           float64
tot_cur_bal                            float64
open_acc_6m                            float64
open_act_il                            float64
open_il_12m                            float64
open_il_24m                            float64
mths_since_rcnt_il                     float64
total_bal_il                           float64
il_util                                float64
open_rv_12m                            float64
open_rv_24m                            float64
max_bal_bc                             float64
all_util                               float64
total_rev_hi_lim                       float64
inq_fi                                 float64
total_cu_tl                            float64
inq_last_12m                           float64
avg_cur_bal                            float64
chargeoff_within_12_mths               float64
mo_sin_old_rev_tl_op                   float64
mo_sin_rcnt_rev_tl_op                  float64
mo_sin_rcnt_tl                         float64
num_accts_ever_120_pd                  float64
num_actv_bc_tl                         float64
num_actv_rev_tl                        float64
num_bc_sats                            float64
num_bc_tl                              float64
num_il_tl                              float64
num_op_rev_tl                          float64
num_rev_accts                          float64
num_rev_tl_bal_gt_0                    float64
num_sats                               float64
num_tl_120dpd_2m                       float64
num_tl_30dpd                           float64
num_tl_90g_dpd_24m                     float64
num_tl_op_past_12m                     float64
pct_tl_nvr_dlq                         float64
pub_rec_bankruptcies                   float64
tax_liens                              float64
tot_hi_cred_lim                        float64
total_il_high_credit_limit             float64
revol_bal_joint                        float64
sec_app_earliest_cr_line               object
sec_app_inq_last_6mths                 float64
sec_app_mort_acc                       float64
sec_app_open_acc                       float64
sec_app_revol_util                     float64
sec_app_open_act_il                    float64
sec_app_num_rev_accts                  float64
sec_app_chargeoff_within_12_mths       float64
sec_app_collections_12_mths_ex_med     float64
sec_app_mths_since_last_major_derog    float64
disbursement_method                    object
dtypes: float64(57), object(10)
memory usage: 1.1+ GB

In [11]:
# all-null columns
columns_to_drop = ['revol_bal_joint','sec_app_earliest_cr_line',
                   'sec_app_inq_last_6mths','sec_app_mort_acc',
                   'sec_app_open_acc','sec_app_revol_util',
                   'sec_app_open_act_il','sec_app_num_rev_accts',
                   'sec_app_chargeoff_within_12_mths',
                   'sec_app_collections_12_mths_ex_med',
                   'sec_app_mths_since_last_major_derog',
                   'annual_inc_joint','dti_joint']

## drop columns with almost all values are null

In [12]:
loan.drop(columns = columns_to_drop, inplace = True)

## drop rows that has all values null

In [13]:
loan.dropna(axis = 0, how = 'all', inplace = True)

## handling null values either by dropping them or filling them with median value

In [14]:
loan.dropna(axis = 0, subset=['emp_title', 'title', 'zip_code'], inplace = True)

In [15]:
for col in loan.columns:
    if loan[col].dtype == "float64":
        loan[col].fillna(loan[col].mean(), inplace = True)
        loan[col] = loan[col].astype('int64')
    else:
        loan[col] = loan[col]

In [16]:
loan.isna().sum(), loan.shape

(term                           0
 installment                    0
 grade                          0
 emp_title                      0
 purpose                        0
 title                          0
 zip_code                       0
 addr_state                     0
 dti                            0
 collections_12_mths_ex_med     0
 mths_since_last_major_derog    0
 application_type               0
 tot_coll_amt                   0
 tot_cur_bal                    0
 open_acc_6m                    0
 open_act_il                    0
 open_il_12m                    0
 open_il_24m                    0
 mths_since_rcnt_il             0
 total_bal_il                   0
 il_util                        0
 open_rv_12m                    0
 open_rv_24m                    0
 max_bal_bc                     0
 all_util                       0
 total_rev_hi_lim               0
 inq_fi                         0
 total_cu_tl                    0
 inq_last_12m                   0
 avg_cur_bal                    0
 chargeoff_within_12_mths       0
 mo_sin_old_rev_tl_op           0
 mo_sin_rcnt_rev_tl_op          0
 mo_sin_rcnt_tl                 0
 num_accts_ever_120_pd          0
 num_actv_bc_tl                 0
 num_actv_rev_tl                0
 num_bc_sats                    0
 num_bc_tl                      0
 num_il_tl                      0
 num_op_rev_tl                  0
 num_rev_accts                  0
 num_rev_tl_bal_gt_0            0
 num_sats                       0
 num_tl_120dpd_2m               0
 num_tl_30dpd                   0
 num_tl_90g_dpd_24m             0
 num_tl_op_past_12m             0
 pct_tl_nvr_dlq                 0
 pub_rec_bankruptcies           0
 tax_liens                      0
 tot_hi_cred_lim                0
 total_il_high_credit_limit     0
 disbursement_method            0
 dtype: int64, (2073571, 54))

In [17]:
loan.info(null_counts = True), loan.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2073571 entries, 0 to 2260667
Data columns (total 54 columns):
term                           2073571 non-null object
installment                    2073571 non-null int64
grade                          2073571 non-null object
emp_title                      2073571 non-null object
purpose                        2073571 non-null object
title                          2073571 non-null object
zip_code                       2073571 non-null object
addr_state                     2073571 non-null object
dti                            2073571 non-null int64
collections_12_mths_ex_med     2073571 non-null int64
mths_since_last_major_derog    2073571 non-null int64
application_type               2073571 non-null object
tot_coll_amt                   2073571 non-null int64
tot_cur_bal                    2073571 non-null int64
open_acc_6m                    2073571 non-null int64
open_act_il                    2073571 non-null int64
open_il_12m                    2073571 non-null int64
open_il_24m                    2073571 non-null int64
mths_since_rcnt_il             2073571 non-null int64
total_bal_il                   2073571 non-null int64
il_util                        2073571 non-null int64
open_rv_12m                    2073571 non-null int64
open_rv_24m                    2073571 non-null int64
max_bal_bc                     2073571 non-null int64
all_util                       2073571 non-null int64
total_rev_hi_lim               2073571 non-null int64
inq_fi                         2073571 non-null int64
total_cu_tl                    2073571 non-null int64
inq_last_12m                   2073571 non-null int64
avg_cur_bal                    2073571 non-null int64
chargeoff_within_12_mths       2073571 non-null int64
mo_sin_old_rev_tl_op           2073571 non-null int64
mo_sin_rcnt_rev_tl_op          2073571 non-null int64
mo_sin_rcnt_tl                 2073571 non-null int64
num_accts_ever_120_pd          2073571 non-null int64
num_actv_bc_tl                 2073571 non-null int64
num_actv_rev_tl                2073571 non-null int64
num_bc_sats                    2073571 non-null int64
num_bc_tl                      2073571 non-null int64
num_il_tl                      2073571 non-null int64
num_op_rev_tl                  2073571 non-null int64
num_rev_accts                  2073571 non-null int64
num_rev_tl_bal_gt_0            2073571 non-null int64
num_sats                       2073571 non-null int64
num_tl_120dpd_2m               2073571 non-null int64
num_tl_30dpd                   2073571 non-null int64
num_tl_90g_dpd_24m             2073571 non-null int64
num_tl_op_past_12m             2073571 non-null int64
pct_tl_nvr_dlq                 2073571 non-null int64
pub_rec_bankruptcies           2073571 non-null int64
tax_liens                      2073571 non-null int64
tot_hi_cred_lim                2073571 non-null int64
total_il_high_credit_limit     2073571 non-null int64
disbursement_method            2073571 non-null object
dtypes: int64(45), object(9)
memory usage: 870.1+ MB

(None, (2073571, 54))

## Convert data types

In [18]:
# Save the reduced dataset for easy loading it in the future

loan.to_csv('~/Downloads/r_loan.csv', index =  False)

## End of this file